<div
  style="background-color: #fff;"
  class="container-fluid"
  id="generar-factura"
>
  <div class="row">
    <div class="col-6"><strong>FREDDY DE JESUS SIMANCAS CAÑATE</strong></div>
    <div class="col-4"><strong class="ml-5">FACTURA DE VENTA No</strong></div>
    <div class="col-2 d-flex justify-content-center"><span>342342</span></div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <strong>Nit</strong> <span class="ml-3">19222729</span>
        </div>
        <div class="col-12"><h5>Responsable de IVA</h5></div>
        <div class="col-12">
          <h6>C.C LOS EJECUTIVOS LOCAL 8B CARTAGENA - COLOMBIA</h6>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row ml-5">
        <div class="col-7 border pl-0">
          <h6>POR CONCEPTO DE</h6>
        </div>
        <div class="col-12 border pl-0">
          <h6>FACTURA DE VENTA</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-9 border"><h5 class="m-0">CLIENTE</h5></div>
        <div class="col-3 border"><h5 class="m-0">NIT</h5></div>
        <div class="col-9 border"><h5 class="m-0">CLIENTE</h5></div>
        <div class="col-3 border"><h5 class="m-0">NIT</h5></div>
        <div class="col-6 border">
          <h5 class="m-0 d-flex justify-content-center">FECHA DE FACTURA</h5>
        </div>
        <div class="col-6 border">
          <h5 class="m-0 d-flex justify-content-center">FECHA VENCIMIENTO</h5>
        </div>
        <div class="col-6 border">
          <h5 class="m-0 d-flex justify-content-center">FECHA DE FACTURA</h5>
        </div>
        <div class="col-6 border">
          <h5 class="m-0 d-flex justify-content-center">FECHA VENCIMIENTO</h5>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4 border"><h5 class="m-0">TELEFONO</h5></div>
        <div class="col-4 border"><h5 class="m-0">CIUDAD</h5></div>
        <div class="col-4 border"><h5 class="m-0">DIRECCION</h5></div>
        <div class="col-4 border"><h5 class="m-0">TELEFONO</h5></div>
        <div class="col-4 border"><h5 class="m-0">CIUDAD</h5></div>
        <div class="col-4 border"><h5 class="m-0">DIRECCION</h5></div>
        <div class="col-8 border">
          <h6 class="m-0 d-flex justify-content-center">VENDEDOR</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 d-flex justify-content-center">FORMA DE PAGO</h6>
        </div>
        <div class="col-8 border">
          <h6 class="m-0 d-flex justify-content-center">
            FREDDY DE JESUS SIMANCAS CAÑATE
          </h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 d-flex justify-content-center">EFECTIVO</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 border d-flex justify-content-center">
      <h6>Descripcion</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center">
      <h6>Cantidad</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center px-1">
      <h6>U Medida</h6>
    </div>
    <div class="col-2 border d-flex justify-content-center px-1">
      <h6>Valor Unitario</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center px-1">
      <h6>IVA</h6>
    </div>
    <div class="col-2 border d-flex justify-content-center px-1">
      <h6>Total</h6>
    </div>
  </div>
  <div class="row" style="height: 1000px;">
    <div class="col-5 border">
      <div class="row">
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
      </div>
    </div>
    <div class="col-2 border">
      <div class="row">
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
      </div>
    </div>
    <div class="col-2 border">
      <div class="row">
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
        <div class="col-12"><h6>sadsa</h6></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 border">
          <h5>Valor en Letras</h5>
          <h6>UN MILLON QUINIENTROS TREINTA Y UN MIL PESOS M/CTE</h6>
        </div>
        <div class="col-12 border">
          <h5>
            Resolucion de facturacion 18762016287585 del 14-08-2019 rango del
            80001 al 90000
          </h5>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6 border"><h6>SUBTOTAL</h6></div>
        <div class="col-6 border"><h6>1.388.500</h6></div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>IVA</h6></div>
        <div class="col-6 border"><h6>142.500</h6></div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>TOTAL FACTURA</h6></div>
        <div class="col-6 border"><h6>1.531.000</h6></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border">
      <h6>
        Consignar en la cuenta de ahorros Bancolombia N° 67870373551 o en la
        cuenta de ahorro del banco de Occidente N° 845829597 a nombre de Freddy
      </h6>
    </div>
    <div class="col-6">
      <h6>
        Firma Responsable __________________ Recibido Por ________________
      </h6>
    </div>
  </div>
</div>

<button (click)="generarPDF()" class="btn btn-primary">
  Imprimir
</button>
