<div class="row animate__animated animate__fadeIn">
  <div class="col-xl-10">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
          <h2 *ngIf="!id" class="pageheader-title">Registrar nuevo cliente</h2>
          <h2 *ngIf="id" class="pageheader-title">Actualizar Cliente</h2>
          <hr />

          <!-- ============================================================== -->
          <!--  Create User  -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
              <div class="card">
                <h5 class="card-header">Informacion Del Cliente</h5>
                <div class="card-body">
                  <div *ngIf="error" class="alert alert-danger" role="alert">
                    No se encontro ningun cliente
                  </div>
                  <form
                    *ngIf="!error"
                    #formClient
                    autocomplete="off"
                    [formGroup]="forma"
                    (ngSubmit)="!id ? save() : update()"
                  >
                    <div class="form-group row">
                      <div class="col-12 col-md-6">
                        <label for="name" class="col-form-label">Nombre</label>
                        <input
                          id="name"
                          formControlName="name"
                          type="text"
                          class="form-control"
                          [class.is-invalid]="getValidadeFormName('name')"
                        />
                        <span class="invalid-feedback">
                          El nombre es obligatorio*
                        </span>
                      </div>
                      <div class="col-12 col-md-6">
                        <label for="last_name" class="col-form-label"
                          >Apellidos</label
                        >
                        <input
                          id="last_name"
                          formControlName="last_name"
                          type="text"
                          class="form-control"
                          [class.is-invalid]="getValidadeFormName('last_name')"
                        />
                        <span class="invalid-feedback">
                          El apellido es obligatorio*
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="enterprise_name"
                        >Nombre De La Empresa
                        <span class="text-secondary">(Opcional)</span></label
                      >
                      <input
                        id="enterprise_name"
                        type="text"
                        formControlName="enterprise_name"
                        class="form-control"
                      />
                    </div>

                    <div class="form-group row">
                      <div class="col-12 col-md-6">
                        <label for="document_type">Tipo De Documento</label>
                        <select
                          id="document_type"
                          formControlName="document_type"
                          class="form-control form-control-sm"
                        >
                          <option value="nit">NIT</option>
                          <option value="c.c">C.C</option>
                        </select>
                      </div>
                      <div class="col-12 col-md-6">
                        <label for="document_number"
                          >Numero De Documento o NIT</label
                        >
                        <input
                          type="text"
                          id="document_number"
                          formControlName="document_number"
                          class="form-control"
                          [class.is-invalid]="
                            getValidadeFormName('document_number')
                          "
                        />
                        <span class="invalid-feedback">
                          El documento y/o es obligatorio*
                        </span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-4">
                        <label for="phone_number" class="col-form-label"
                          >Telefono</label
                        >
                        <input
                          id="phone_number"
                          type="number"
                          class="form-control"
                          formControlName="phone_number"
                          placeholder="+57 3003243242"
                          [class.is-invalid]="
                            getValidadeFormName('phone_number')
                          "
                        />
                        <span class="invalid-feedback">
                          El numero es obligatorio*
                        </span>
                      </div>
                      <div class="col-12 col-md-4">
                        <label for="city" class="col-form-label">Ciudad</label>
                        <input
                          id="city"
                          formControlName="city"
                          type="text"
                          class="form-control"
                          [class.is-invalid]="getValidadeFormName('city')"
                        />
                        <span class="invalid-feedback">
                          La ciudad es obligatoria*
                        </span>
                      </div>
                      <div class="col-12 col-md-4">
                        <!-- neighborhood -->
                        <label for="neighborhood" class="col-form-label"
                          >Barrio</label
                        >
                        <input
                          id="neighborhood"
                          formControlName="neighborhood"
                          type="text"
                          class="form-control"
                          [class.is-invalid]="
                            getValidadeFormName('neighborhood')
                          "
                        />
                        <span class="invalid-feedback">
                          El barrio es obligatoria*
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="direction">Dirrecion</label>
                      <input
                        id="direction"
                        type="text"
                        placeholder="Cartagena calle 30 #40-b43"
                        formControlName="direction"
                        class="form-control"
                        [class.is-invalid]="getValidadeFormName('direction')"
                      />
                      <span class="invalid-feedback">
                        La dirrecion es obligatoria
                      </span>
                    </div>
                    <div class="row">
                      <div class="col-12 pl-0 text-right">
                        <button
                          *ngIf="!id"
                          type="submit"
                          class="btn btn-space btn-primary"
                        >
                          Guardar Cliente <i class="far fa-user"></i>
                        </button>
                        <button
                          *ngIf="id"
                          type="submit"
                          class="btn btn-space btn-success"
                        >
                          Actualizar Cliente <i class="far fa-user"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- end Create   -->
        </div>
      </div>
    </div>
  </div>
</div>
